* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.qtyContent {
  display: flex;
}

.removeBtn {
  margin: 10px 0;
}

.qtyBtn {
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.qtyArea {
  padding: 0 !important;
  height: 25px !important;
  width: 25px !important;
  border: 2px solid black !important;
  border-radius: 5px;
  margin: 0 10px !important;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
